.create{
    display: flex;
    flex-direction: column;
    align-items: center;
    

    &__form{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        column-gap: 30px;
        row-gap: 30px;
        width: 40%;
        margin: 20px 0;
        

        @media all and (max-device-width: 800px){
            width: 90%;
            flex-direction: column;
            justify-content: center;
        }
        @media only screen and (min-device-width : 800px) and (max-device-width : 1024px) {
            width: 60%;
            
        }


        &__group{
            display: flex;
            flex-direction: column;
            width: 45%;
            

            & input, select{
                margin-top: 15px;
                padding: .4em 1em;
                box-sizing: border-box;
            }
            

            @media all and (max-device-width: 800px){
                align-items: center;
                width: 100%;

                & input, select{
                    width: 100%;
                }
            }
        
        }
        &__address{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            column-gap: 30px;
            row-gap: 30px;
            padding: 20px;
        }
        
        &__button{
            width: 100%;
            text-align: center;
            margin-top: 10px;


            &--style{
                width: 100px;
                height: 35px;
                font-size: 18px;
                background-color: #93ad18;
                color: white;
                border: none;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            }
        }
    }
    
}
