.list{
    
    &__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 70px;

        &--btn{
            width: 80%;
            display: flex;
            justify-content: center;

            & a{
                display: flex;
                justify-content: end;
                width: 100%;
                text-decoration: none;
            }
        }
    }
    /* &__footer{
        width: 80%;
        display: flex;
        justify-content: end;
        margin-top: 30px;

        @media only screen and (min-device-width : 800px) and (max-device-width : 1024px) {
            width: 90%;
            
        }
        @media all and (max-device-width: 800px){
            justify-content: center;
            width: 90%;
        }
        & a{

            & button{
                align-self: flex-end;
                background-color: #93ad18;
                border: none;
                height: 40px;
                width: 200px;
                white-space: nowrap;
                color: white;
                font-weight: 600;
                font-size: 14px;
            }
        }
    } */
   
    
}